*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
    padding: 0;
}
  
body {
    box-sizing: border-box;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
#root, #__next {
    isolation: isolate;
}

.players-names{
    display: flex;
    width: 600px;
    margin: 50px auto 0;
    padding: 20px;
    text-align: left;
    background-color: #303133e6;
    color: #fff;
    flex-direction: column;
    gap: 20px;
}

.players-names input[type="text"], .players-names label{
    display: flex;
    font-size: 1.3rem;
    padding-left: 5px;
    justify-content: space-evenly;
    align-items: center;
}

.btn{
    width: 115px;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 7px;
    border: none;
    border-radius: 13px;
    background: #c9ffe4;
    text-align: center;
    cursor: pointer;
}

.restart{
    display: none;
    justify-content: center;
    margin: 50px auto 0;
}

.gameboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 600px;
    height: 600px;
    margin: 70px auto 10px;
}

.cell{
    border-width: 5px;
    border-color: #000;
    background-color: #303133e6;
    cursor: pointer;
    border-bottom-style: solid;
    border-right-style: solid;
}

.cell:nth-child(3n + 3){
    border-right-style: none;
}

.cell:nth-child(n + 7){
    border-bottom-style: none;
}

/* when player two click on a cell */

.cell.o, .cell.x{
    position: relative;
    width: 100%;
    height: 100%;
}

.o::before{
    content: '';
    display: block;
    position: absolute;
    top: 23px;
    left: 23px;
    border-radius: 50%;
    border: 10px solid #fff;
    width: 150px;
    height: 150px;
}

/* when player one click on a cell */

.cell.x::before, .cell.x::after{
    left: 90px;
    top: 10px;
    height: 174px;
    width: 15px;
    border-radius: 3px;
}

.x::before{
    transform: rotate(-45deg);
}


.x::before, .x::after{
    content: '';
    position: absolute;
    display: block;
    background: #fff;
}

.x::after{
    transform: rotate(45deg);
}

.results{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #303133e6;
    margin: 0 auto 30px;
    width: 600px;
    height: 80px;
    color: #fff;
}

.player-one-result, .tie-result, .player-two-result{
    display: grid;
    position: relative;
    width: 200px;
    justify-content: center;
    font-size: 1.2rem;
}

.player-one-result::before{
    content: '(X)';
    position: absolute;
    left: 156px;
}

.player-two-result::before{
    content: '(O)';
    position: absolute;
    right: 15px;
}

.player{
    position: relative;
    left: -10px;
}

.score{
    font-size: 2rem;
    display: flex;
    height: 34px;
    align-items: center;
    justify-content: center;
}